---
layout: page
title: Events
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  if ($('#events').is(':empty')){
    $("#warning").show();
    $("#event-list").hide();
  } else {
    $("#warning").hide();
  }
});
</script>


<section class="section bg-green-gray" id="event-list">
  <div class="container">
      <div class="col-12 text-center hideme">
        <h2 class="section-title">Upcoming Events</h2>
      </div>
    <div class="row" id="events">
        {% assign curDate = site.time | date: '%s' %}
        {% assign count = 0 %}
        {% assign maxPosts = 147642192 %}

        {% for event in site.events %}
            {% assign postStartDate = event.date | date: '%s' %}
            {% if postStartDate >= curDate and maxPosts > count %}
                {% include event.html %}
                {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}
    </div>
</section>
<!-- /blog -->

<!-- /blog -->

<section class="section bg-green-gray" id="warning">
  <div class="container">
    <div class="row my-5 hideme">
        <div class="col-lg-10 mx-auto text-center">
            <i class="ti-calendar icon mb-5 d-inline-block"></i>
        </div>
      
      <div class="col-lg-10 mx-auto text-center hideme">
          <h4 class="font-tertiary text-black">Currently, we don't have any upcoming events. Stay tuned, however!</h4>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
