.navigation{
  padding: 40px 100px;
  transition: 0.2s ease;
  background-color: $primary-color;
  &.nav-bg {
    padding: 15px 40px;
    @include desktop {
      padding: 15px 10px;
    }
  }
  @include desktop {
    padding: 20px;
    background: $primary-color;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      font-family: $tertiary-font;
      text-transform: uppercase;
      padding: 20px;
    }
    
    &.active{
      font-weight: bold;
    }
  }

  .nav-item-main{
    .nav-link-main{
      color: $primary-color;
      font-family: $tertiary-font;
      text-transform: uppercase;
      padding: 12px;
      background-color: $white;
      border-radius: 8px;
      &:hover {
	background: $black
      }
    }


  

    &.active{
      font-weight: bold;
    }
  }
}

.navbar-dark .navbar-nav .nav-link{
  color: $white;
}