.navigation{
  padding: 10px 100px;
  transition: 0.2s ease;

    background-color: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);

  &.nav-bg {
    padding: 5px 40px;
    @include desktop {
      padding: 5px 10px;
    }
    background-color: rgba(255,255,255,.35);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    //border-bottom: 2px solid $black;
  }
  @include desktop {
    padding: 20px;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      color: $black;
      font-family: $tertiary-font;
      text-transform: uppercase;
      padding: 20px;
    
    &:hover {
      color: $primary-color;
    }
    }
    
    &.active{
      font-weight: bold;
    }
  }

  .nav-item-main{
    .nav-link-main{
      color: $white;
      font-family: $tertiary-font;
      text-transform: uppercase;
      padding: 12px;
      background-color: $black;
      border-radius: 8px;
      &:hover {
	background: $white;
	color: $black;
	border: 2px solid black;
      }
    }

    &.active{
      font-weight: bold;
    }
  }
}

.navbar-dark .navbar-nav .nav-link{
  color: $black;
}