<div id="trigger-alert">
</div>


<div class="container mb-0" style="
    position: fixed;
    right: 0;
    left: 0;
    bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    z-index: 9999;">
    <div id="hidden-alert" class="alert alert-light alert-dismissible fade show border-success hideme" role="alert">
      <p class="text-dark font-primary mb-0">
      <strong>Upcoming Event!</strong> We're hosting a webinar on Native American Heritage on Jan 8 @ 4-5:30! <strong><u>Click here to Register</u></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </p>
    </div>
</div>

