<!-- contact -->
<section class="section" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center hideme">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      
      <div class="col-12 text-center hideme">
        <h3 class="mt-0"><b>You can reach out to us through our many platforms! See below for all the links!</b></h3>
      </div>
      
      <div class="col-12 text-center hideme mt-2">
        {% for social in site.data.settings.social %}
            <a href="{{ social.link }}" class="btn btn-primary mb-2 mt-2 ml-2 mr-2"><i class="{{ social.icon }}"></i></a>
        {% endfor %}
      </div>
      
    </div>
  </div>
</section>
<!-- /contact -->
