<!-- cta -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center hideme">
          <h3 class="font-tertiary text-dark">We're always looking for dedicated students, alumni, teachers, librarians, and administrators of PUSD to join our mission!</h3>
      </div>
      
      <div class="col-lg-10 mt-5 mx-auto text-center hideme">
          <a href="{{ site.data.settings.blurb-btn-link }}" target="_blank" class="btn btn-primary">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->
