<!-- about -->
<section class="section">
  <div class="container mb-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto hideme">
            <p class="font-secondary paragraph-lg text-gray my-0">Join Us</p>
            <h3 class="font-secondary text-primary mt-0 mb-2"><b>We're always looking for dedicated students, alumni, teachers, librarians, and administrators of PUSD to join our mission!</b></h3>
            <a href="{{ site.data.settings.blurb-btn-link }}" target="_blank" class="btn btn-primary">{{ site.data.settings.blurb-btn-name }}</a>
        </div>
        <div class="col-12 col-md-6 mt-5 mx-auto hideme">
            <img src="assets/images/vectors/join-today.png" class="img fluid" style="max-width:100%;">
        </div>
          
    </div>
  </div>
</section>
