<div class="col-md-6 mb-6 mb-md-6 hideme" id="events">
    <div class="card hover-shadow shadow hover-bg-primary mb-4">
    <div class="card-body px-4 py-4 rounded">
      <h3 class="section-title mb-1 pt-1">{{ event.start-time | date: "%b %-d, %Y" }}</h3>
      <h4 class="mb-4">{{ event.title }}</h4>
      <h5 class="mb-4">{{ event.date | date: "%I:%M" }} to {{ event.end-time | date: "%I:%M %p %Z" }}</h5>
      <a href="{{ event.url }}" target="_blank" class="btn btn-xs btn-primary border border-white">Sign Up</a>
      <details class="mt-4 mx-1 mb-0">
          <summary class="mb-3">More Info</summary>
          <hr>
          {{ event.description }}
      </details>
    </div>
  </div>
</div>
