<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script>-->
<!---->
<!--$(document).ready(function(){-->
<!--  if ($('#event-card').is(':empty')){-->
<!--    $("#event-list").hide();-->
<!--  }-->
<!--  -->
<!--  if ($('#event-card').length) {-->
<!--      $("#event-list").hide();-->
<!--  }-->
<!--});-->
<!---->
<!--</script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  if ($('#events').is(':empty')){
    $("#event-list").hide();
  } 
});
</script>

<section class="section" id="event-list">
  <div class="container">
      <div class="col-12">
          <i class="bi-calendar-week icon mb-2 hideme d-inline-block" style="color:#f2ce1b;"></i>
          <h3 class="font-secondary text-primary mt-0 mb-4 hideme"><b>Upcoming Events</b></h3>
      </div>
    <div class="row" id="events">
        {% assign curDate = site.time | date: '%s' %}
        {% assign count = 0 %}
        {% assign maxPosts = 2 %}

        {% for event in site.events %}
            {% assign postStartDate = event.date | date: '%s' %}
            {% if postStartDate >= curDate and maxPosts > count %}
                {% include event.html %}
                {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}
        
    </div>
    <div class="row" id="events-all">
        <div class="col-12 text-center mt-5 hideme"> <a href="/events" class="btn btn-primary">See all events</a></div>
    </div>
</section>
<!-- /blog -->
