<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="border-top text-center border-dark py-5">
    <div class="container-fluid">
        <div class="mb-3 row justify-content-center">
            <!-- social icon -->
            {% for social in site.data.settings.social %}
            <a href="{{ social.link }}" target="_blank">
            <h4 class="text-white ml-4 mr-4"><i class="{{ social.icon }}"></i></h4>
            </a>
            {% endfor %}
            <!-- /social icon -->
          
        </div>
    </div>
    <p class="mb-3 text-white">{{site.data.settings.copyright}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
