<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-xl navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
        <img width="125" height="65" src="{{ site.data.settings.logo | absolute_url }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul-nav class="navbar-nav ml-auto align-items-center">
        <li-nav class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li-nav>
        {% for link in site.data.settings.menu %}
          <li-nav class="nav-item {{ class }}">
            <a class="nav-link" href="{{ link.link | relative_url }}">{{ link.name }}</a>
          </li-nav>
        {% endfor %}
        <li-nav class="nav-item-main mt-4 mt-xl-1">
            <a class="nav-link-main" href="{{ site.data.settings.blurb-btn-link }}" target="_blank">Join</a>
        </li-nav>
      </ul-nav>
    </div>
  </nav>
</header>
