<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}Home{% endif %} - {{ site.data.settings.title }}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.data.settings.description}}{%endif%}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Home{% endif %} - {{ site.data.settings.title }}" />

  <meta property="og:image" content="/assets/images/don-logo.png" />
          
  {% if site.author %}
  <meta name="author" content="{{ . }}">
  {% endif %}
  
  <!-- ** Plugins Needed for the Project ** -->
  {% for css in site.data.plugins.css %}
  <link rel="stylesheet" href="{{ css | relative_url }}">
  {% endfor %}
  
  <link rel="preload" href="/assets/fonts/37A739_0_0.woff2" as="font" type="font/woff2" crossorigin="">

  <!-- Main Stylesheet -->
  <link href="{{ '/assets/scss/style.css' | relative_url }}" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}">

  <!-- google analytics -->
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script>
      $(document).ready(function() {
          
          /* Every time the window is scrolled ... */
          $(window).scroll( function(){
          
              /* Check the location of each desired element */
              $('.hideme').each( function(i){
                  
                  var bottom_of_object = $(this).position().top + $(this).outerHeight();
                  var bottom_of_window = $(window).scrollTop() + $(window).height();
                  
                  /* If the object is completely visible in the window, fade it it */
                  if( bottom_of_window > bottom_of_object ){
                      
                      /* $(this).animate({
                          up: '20px',
                          opacity: '1',
                        }, 600); */
                      
                      $(this).addClass('animated animatedFadeInUp fadeInUp');
                          
                  }
                  
              });
          
          });
          
      });
  </script>
</head>
