<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h2 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h2>
          <h3 class="text-dark-green font-tertiary">{{ site.data.settings.hero.hero-subtitle }}</h3>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mt-4 mx-auto">
            <a href="{{ site.data.settings.blurb-btn-link }}" target="_blank" class="btn btn-white">{{ site.data.settings.blurb-btn-name }}</a>
        </div>
      </div>
    </div>
</section>
<!-- /hero area -->
