<!-- hero area -->
<section class="hero-area" style="
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(90deg, #18c98b, #36f595);">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">
              <span class="animated animatedFadeInUp fadeInUp" style="display:inline-block; animation-delay: 0s;">Diversify</span>
              <span class="animated animatedFadeInUp fadeInUp" style="display:inline-block; animation-delay: 0.1s;">Our</span>
              <span class="animated animatedFadeInUp fadeInUp" style="display:inline-block; animation-delay: 0.2s;">Narrative</span>
          </h1>
          <h2 class="text-black font-tertiary">
              <span class="animated animatedFadeInUp fadeInUp" style="display:inline-block; animation-delay: 0.3s;">Poway</span>
              <span class="animated animatedFadeInUp fadeInUp" style="display:inline-block; animation-delay: 0.4s;">Unified</span>
          </h2>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mt-4 mx-auto animated animatedFadeInUp fadeInUp" style="animation-delay: 0.5s;">
            <a href="{{ site.data.settings.blurb-btn-link }}" target="_blank" class="btn btn-white">{{ site.data.settings.blurb-btn-name }}</a>
        </div>
      </div>
    </div>
</section>
<!-- /hero area -->
