<style>
    /* _forms.scss:207 */
    .form-check {
      position: relative;
      display: block;
      padding-left: $form-check-input-gutter;
    }

    /* _forms.scss:270 */
    .form-check {
      width: 100%;
    }

    /* _forms.scss:311 */
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }

    .input {
      width: 100%;
      box-sizing: border-box;
    }

</style>


<form id="test-form">
  
  <div>
    <label>Field 1</label>
    <input type="text" name="name" placeholder="Field 1"/>
  </div>

  <div>
    <label>Field 2</label>
    <input type="text" name="text" placeholder="Field 2"/>
  </div>
  
  <div>
    <button type="submit"id="submit-form">Submit</button>
  </div>

</form>
