<div class="hideme">
<hr>
<details>
    <summary><h4><strong>{{ club.title }}</strong></h4></summary>
    
    <!-- services -->
    <section class="section" style="color:{{ club.text-color }}">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
              <div class="card h-100" style="background:{{ club.box-color }};">
                <div class="card-body text-center px-4 py-5" style="color:{{ club.text-color }}">

                <i class="ti-user icon mb-5 d-inline-block"></i>
                <h4 class="mb-4 font-tertiary" style="color:{{ club.text-color }}">Leaders</h4>
                <p style="color:{{ club.text-color }}">{{ club.club-leaders }}<br/> <a href="{{ club.contact }}" style="color:{{ club.text-color }}"><u>Contact</u></a></p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4 mb-md-0">
              <div class="card h-100" style="background:{{ club.box-color }};">
                <div class="card-body text-center px-4 py-5" style="color:{{ club.text-color }}">
                <i class="ti-calendar icon mb-5 d-inline-block" style="color:{{ club.text-color }}"></i>
                <h4 class="mb-4 font-tertiary" style="color:{{ club.text-color }}">Timing</h4>
                <p style="color:{{ club.text-color }}">{{ club.timing }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100" style="background:{{ club.box-color }};">
              <div class="card-body text-center px-4 py-5" style="color:{{ club.text-color }}">
                <i class="ti-desktop icon mb-5 d-inline-block" style="color:{{ club.text-color }}"></i>
                <h4 class="mb-4 font-tertiary" style="color:{{ club.text-color }}">Zoom Details</h4>
                <p style="color:{{ club.text-color }}"><a href="{{ club.zoom-url }}" target="_blank" style="color:{{ club.text-color }}"><u>ID: {{ club.zoom-id }}</u></a> <br/> PW: {{ club.zoom-pw }}</p>
              </div>
            </div>
          </div>
          
        </div>
    </section>
    <!-- /services -->
    
</details>
</div>
