<!-- services -->
<section class="section">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100 hover-bg-mt-carmel hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-user icon mb-5 d-inline-block"></i>
            <h4 class="mb-4 font-tertiary">Leaders</h4>
            <p>{{ site.data.settings.mc-lead }}<br/> <a href="{{ site.data.settings.mc-contact }}">Contact</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100 hover-bg-mt-carmel hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-calendar icon mb-5 d-inline-block"></i>
            <h4 class="mb-4 font-tertiary">Timing</h4>
            <p>{{ site.data.settings.mc-zoom-date }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card h-100 hover-bg-mt-carmel hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-desktop icon mb-5 d-inline-block"></i>
            <h4 class="mb-4 font-tertiary">Zoom Details</h4>
            <p><a href="{{ site.data.settings.mc-zoom-url }}" target="_blank">ID: {{ site.data.settings.mc-zoom-id }}</a> <br/> PW: {{ site.data.settings.mc-zoom-pw }}</p>
          </div>
        </div>
      </div>
      
    </div>
</section>
<!-- /services -->
