<hr class="my-3 hideme">
<details class="hideme">
    <summary><h4><strong>{{ club.title }}</strong></h4></summary>
    
    <div class="row mt-3">
        <div class="col-xs-12 col-sm-6 py-2 px-2">
            <div class="card h-100" style="background:{{ club.box-color }};">
                <div class="card-body" style="color:{{ club.text-color }}">
                    <h4 class="font-secondary align-middle" style="color:{{ club.text-color }}"><i class="bi-people icon mr-3 d-inline-block" style="color:{{ club.text-color }}"></i>Leaders</h4>
                    <p style="color:{{ club.text-color }}">{{ club.club-leaders }}<br/> <a href="mailto:{{ club.contact }}" style="color:{{ club.text-color }}"><u>Contact</u></a></p>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 py-2 px-2">
            <div class="card h-100" style="background:{{ club.box-color }};">
                <div class="card-body" style="color:{{ club.text-color }}">
                    <h4 class="font-secondary align-middle" style="color:{{ club.text-color }}"><i class="bi-calendar-week icon mr-3 d-inline-block" style="color:{{ club.text-color }}"></i>Date & Time</h4>
                    <p style="color:{{ club.text-color }}">{{ club.timing }}</p>
                </div>
            </div>
        </div>
    
    <div class="col-xs-12 col-sm-6 py-2 px-2">
            <div class="card h-100" style="background:{{ club.box-color }};">
                <div class="card-body" style="color:{{ club.text-color }}">
                    <h4 class="font-secondary align-middle" style="color:{{ club.text-color }}"><i class="bi-camera-video icon mr-3 d-inline-block" style="color:{{ club.text-color }}"></i>Zoom Details</h4>
                    <p style="color:{{ club.text-color }}"><a href="{{ club.zoom-url }}" target="_blank" style="color:{{ club.text-color }}"><u>ID: {{ club.zoom-id }}</u></a> <br/> PW: {{ club.zoom-pw }}</p>
                </div>
            </div>
        </div>

    <div class="col-xs-12 col-sm-6 py-2 px-2">
            <div class="card h-100" style="background:{{ club.box-color }};">
                <div class="card-body" style="color:{{ club.text-color }}">
                    <h4 class="font-secondary align-middle" style="color:{{ club.text-color }}"><i class="bi-check2-circle icon mr-3 d-inline-block" style="color:{{ club.text-color }}"></i>How to Join</h4>
                    <p style="color:{{ club.text-color }}">{{ club.join-info }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /services -->
    
</details>
