<!-- cta -->
<section class="section bg-green-gray">
  <div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <i class="ti-announcement icon mb-5 d-inline-block"></i>
        </div>
      
      <div class="col-lg-10 mx-auto text-center">
          <h4 class="font-tertiary text-black">DON PUSD is currently making clubs for every PUSD high school! Join (or even open) your school's very own DON club today!</h4>
      </div>
      
      <div class="col-lg-10 mt-5 mx-auto text-center">
          <a href="{{ '/school-clubs' | relative_url }}" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->
