<!-- cta -->
<section class="section bg-green-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
          <h3 class="font-tertiary text-black">We're making school clubs! Join or even open your school's very own DON club today!</h3>
      </div>
      
      <div class="col-lg-10 mt-5 mx-auto text-center">
          <a href="{{ '/school-clubs' | relative_url }}" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->
