<!-- cta -->
<section class="section bg-dark">
  <div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto text-center hideme">
            <span class="text-white">
            <i class="ti-announcement icon mb-5 d-inline-block" style="color:#f2ce1b;"></i>
            </span>
        </div>
      
      <div class="col-lg-10 mx-auto text-center hideme">
          <h4 class="font-tertiary text-white">DON PUSD is currently making clubs for every PUSD high school! Join (or even open) your school's very own DON club today!</h4>
      </div>
      
      <div class="col-lg-10 mt-5 mx-auto text-center hideme">
          <a href="{{ '/school-clubs' | relative_url }}" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->
