body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: square;
  margin: 4px;
}

ul-nav {
  list-style-type: none;
  margin: 0px;
}

li {
  list-style-type: square;
  margin: 4px;
}

li-nav {
  list-style-type: none;
  margin: 4px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: $primary-color;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a.text-dark{
  &:hover{
    color: $primary-color !important;
  }
}

a:hover {
  color: $dark-green;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &-title {
    margin-bottom: 80px;
    font-family: $tertiary-font;
  }
}

.section-compact {
  padding-top: 30px;
  padding-bottom: 30px;

  &-title {
    margin-bottom: 60px;
    font-family: $tertiary-font;
  }
}

.section-compact-top {
  padding-top: 20px;
  padding-bottom: 60px;

  &-title {
    margin-bottom: 60px;
    font-family: $tertiary-font;
  }
}

.section-compact-bottom {
  padding-top: 60px;
  padding-bottom: 20px;

  &-title {
    margin-bottom: 20px;
    font-family: $tertiary-font;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
height: 100%;
background-size: cover;
background-repeat:no-repeat;
background: linear-gradient(90deg, #47fcb7, #80ffad);
}

.bg-gray{
  background: $gray !important;
}

.bg-light-gray{
  background: $bg-gray !important;
}

.bg-green-gray{
  background: $green-gray !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-gradient-primary {
  background: -webkit-linear-gradient(90deg, #18c98b, #36f595);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-color {
  color: $text-color;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-light {
  color: $text-color-light !important;
}

.text-green-gray {
  color: $green-gray!important;
}

.text-dark-green {
  color: $dark-green!important;
}

.text-light-gray {
  color: $light-gray!important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg{
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.font-tertiary {
  font-family: $tertiary-font !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark{
  background-color: #1b2421 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */

/* slick slider */
.slick-dots{
  text-align: center;
  padding-left: 0;
  li{
    display: inline-block;
    margin: 2px;
    &.slick-active{
      button{
        background: $white;
        width: 25px;
      }
    }
    button{
      height: 6px;
      width: 12px;
      background: rgba($color: $white, $alpha: .5);
      color: transparent;
      border-radius: 10px;
      overflow: hidden;
      transition: .2s ease;
      border: 0;
    }
  }
}
/* /slick slider */

/* /card */


/* Animation */

    @keyframes fadeInUp {
        from {
            transform: translate3d(0,110px,0);
            opacity: 0;
        }

        to {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeInUp {
        from {
            transform: translate3d(0,110px,0);
            opacity: 0;
        }

        to {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }

    .animated {
        animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        -webkit-animation-timing-function: ease-out;

    }

    .animatedFadeInUp {
        opacity: 0;
    }

    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }

.hideme
    {
        opacity:0;
    }
