// Color Variables
$primary-color: #18c98b;
$secondary-color: #2bfdff;
$text-color: #475e55;
$text-color-dark: #131715;
$text-color-light: #999;
$body-color: #edfaf6;
$border-color: #babfba;
$black: #131715;
$white: #edfaf6;
$green-gray: #d4ffee;
$gray: #cae8dd;
$dark-green: #36f595;
$light-gray: #cbd1ce;

// Font Variables
$primary-font: 'Eina02-Regular', sans-serif;
$secondary-font: 'Eina02-SemiBold', sans-serif;
$tertiary-font: 'BwNistaInt-xBd', 'Poppins', sans-serif;
$icon-font: 'themify';
