// Color Variables
$primary-color: #228e63;
$secondary-color: #2bfdff;
$text-color: #575c5a;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$green-gray: #d9ffeb;
$gray: #eaeaea;
$dark-green: #63e0ae;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
