// Color Variables
$primary-color: #21db9a;
$secondary-color: #2bfdff;
$text-color: #475e55;
$text-color-dark: #141414;
$text-color-light: #999;
$body-color: #edfaf6;
$border-color: #c7c7c7;
$black: #141414;
$white: #edfaf6;
$green-gray: #d4ffee;
$gray: #cae8dd;
$dark-green: #36f595;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
