---
layout: page
---


<section class="section mt-0">
  <div class="container mt-0">
      <div class="container"><div class="card-body active-bg-primary text-left mt-0 mb-5 ml-3 mr-3">
            <h5>Diversify Our Narrative is a <strong>nationwide, student-led movement</strong> with the goal of reforming a skewed curriculum in light of the Black Lives Matter movement and police brutality that takes place in our nation. We believe that one's prejudice is formed in school, and that schools ought to groom the next-generation of students to be <strong>actively anti-racist and anti-prejudiced.</strong></h5>
            </div>
      </div>
    <div class="col-md mt-0 mb-0">
        {{ content }}
    </div>
  </div>
</section>

{% include work-process-section.html %}

{% include team-section.html %}

{% include cta-section.html %}
