---
layout: page
---

<!-- about -->
<section class="section bg-gray">
  <div class="container mb-5">
    <div class="row">
        <div class="container hideme"><div class="card-body active-bg-primary text-left mt-0 mb-5" style="border-radius:10px">
              <h5>Diversify Our Narrative is a <strong>nationwide, student-led movement</strong> with the goal of reforming a skewed curriculum in light of the Black Lives Matter movement and police brutality that takes place in our nation. We believe that one's prejudice is formed in school, and that schools ought to groom the next-generation of students to be <strong>actively anti-racist and anti-prejudiced.</strong></h5>
              </div>
        </div>
        
        <div class="col-12 col-md-8 mx-auto hideme">
            <div class="hideme">
            <h4 class="section-title mb-5 mt-4">At DON PUSD, we are a district-wide movement with the goal of enacting change in our high schools and middle schools, along with creating lasting impacts throughout the San Diego-area. In our local chapter, we have several key goals:</h4>
            </div>

            <div class="hideme">
            <blockquote><p><strong>A) Awareness:</strong> Increase awareness among students and faculty about the harms of racism, homophobia, and other forms of prejudice and microagressions.</p></blockquote>
            </div>

            <div class="hideme">
            <blockquote><p><strong>B) Better Courses:</strong> Push for more diverse and less Eurocentric courses like A.P. World History and an ethnic studies course.</p></blockquote>
            </div>

            <div class="hideme">
            <blockquote><p><strong>C) Connections:</strong> Connect with Black Student Unions and other social justice clubs to spread our impacts and help even more people!</p></blockquote>
            </div>
        </div>
        
        <div class="col-6 col-md-4 mt-3 mx-auto hideme">
            <img src="assets/images/vectors/whiteboard.png" class="img fluid" style="width:105%;">
        </div>
          
    </div>
  </div>
</section>


{% include work-process-section.html %}

{% include team-section.html %}

{% include cta-section.html %}
