---
layout: default
---
<script>
    if (navigator.share) {
      navigator.share({
        title: 'web.dev',
        text: 'Check out web.dev.',
        url: 'https://web.dev/',
      })
        .then(() => console.log('Successful share'))
        .catch((error) => console.log('Error sharing', error));
    }
</script>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary animated animatedFadeInUp fadeInUp">Events</h1>
      </div>
    </div>
  </div>
  
</section>
<!-- /page title -->

<section class="section bg-dark">
    
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <a href="/events"><h4><i class="ti-angle-left mr-1"></i>Return to Events</a></h4>
        <h2 class="font-tertiary mt-2 mb-3 text-white">{{ page.title | escape }}</h2>
        <h4 class="mb-4 text-white"><span class="text-primary">{{ page.date | date: "%b %-d, %Y" }}</span> from <span class="text-primary">{{ page.date | date: "%-I:%M" }} to {{ page.end-time | date: "%-I:%M %p %Z" }}</span></h4>
        <h4 class="mt-4 text-white">About the Event:</h4>
        {{ page.description | markdownify | replace: "<p>", "<p class='text-light-gray'>" }}
        <h5 class="text-white"><b>{{ page.host }}</b></h5>
        <a href="{{ page.event-url }}" target="_blank" class="btn btn-sm btn-primary mt-2 mb-3">Sign Up</a>
      </div>
    </div>
  </div>
</section>
