---
layout: default
---
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

    const text = "{{ page.url | absolute_url }}";

    function cpy() {
        navigator.clipboard
            .writeText(text)
            .then(() => { btn.value = 'Copied' })
            .catch(err => { btn.value="Copy failed" });
    }

    function shareNav() {
        navigator.share({
           title: "{{ page.title }}",
           text: "Check out this blog post from DON PUSD!",
           url: "{{ page.url | absolute_url }}"
         }).then(() => {
           console.log('Thanks for sharing!');
         })
         .catch(console.error);
    }
</script>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary animated animatedFadeInUp fadeInUp">Blog</h1>
      </div>
    </div>
  </div>
  
</section>
<!-- /page title -->

<section class="section">
    
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="font-tertiary mb-2">{{ page.title | escape }}</h2>
        <h4 class="font-secondary mb-4">{{ page.subtitle | escape }}</h4>
        <h5 class="font-secondary mb-5">Published on {{ page.date | date: '%b %d, %Y' }} by <span class="text-yellow">{{ page.author }}</span
            class="text-primary"><a class="share-button ml-2" onclick="cpy(); shareNav();" data-toggle="tooltip" title="Click to copy link or share"><i class="bi-box-arrow-up text-primary"></i></a></h4></h5>
        <div class="content">
          <img src="{{ page.image | relative_url }}" class="img-fluid rounded float-left mr-5 mb-4" alt="{{page.title}}">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section bg-green-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center hideme">
        <h2 class="section-title hideme">Other Stories</h2>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
