---
layout: page
---


<section class="section mt-0">
  <div class="container mt-0">
      <div class="container"><div class="card-body text-left mt-0 mb-5 ml-3 mr-3">
            <h5><strong>We are looking for committed high schoolers from WVHS and PHS to create DON clubs at those schools! If you would like to start a club, please reach out to us at <a href="mailto:inbar@donpusd.org">inbar@donpusd.org</a></strong></h5>
            </div>
      </div>
      <div class="container"><div class="card-body active-bg-primary text-left mt-0 mb-5 ml-3 mr-3">
            <h5>To strengthen our role in the district, we have made (or are planning to make) local DON clubs for each high school in the district! So far, we've made clubs for Rancho Bernardo, Mount Carmel, and Del Norte! <strong>Below are the details about each club</strong></h5>
            </div>
      </div>
  </div>
</section>

<section class="section bg-gray">
  <div class="container">
      <h2 class="section-title">Individual School Clubs</h2>
      <div class="col-md mt-0 mb-0">
        {{ content }}
    </div>
  </div>
</section>
